#player-video-container {
    width: 100%;
    padding: 10px 20px;
}

#player-video-container > #player-video-frame {
    float: left;
}

#player-video-container > #player-playlist {
    overflow: hidden;
    height: 450px; /* tamaño del iframe + algo de espacio para mostrar el botón */
}

#player-video-container > #player-playlist > h2 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

#player-video-container > #player-playlist ul .list-group-item {
    border-radius: 0px;
}

#player-video-container > #player-playlist > div:first-of-type {
    height: 370px; /* video container height - playlist header height (400px - 30px = 370px) */
    position: relative;
    bottom: 0px;
    /* background-color: grey; */
    overflow: auto;
}

#player-container #player-video-container #player-video-frame {
    margin-right: 20px;
}

#player-container h1 {
    font-size: 1.5em;
    margin-left: 20px;
}

#player-add-video-btn {
    margin-top: 5px;
}