<div id="player-container">

    <h1>{{ playerCtrl.currentVideo.title }}</h1>
    <section id="player-video-container" class="clearfix">
        <div id="player-video-frame" style="width: 720;height: 400;">
            <div id="embeded-youtube-iframe"></div>
        </div>
        <div id="player-playlist">
            <h2>Lista de Reproducción</h2>
            <div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="video in playerCtrl.playlist" ng-class="{ 'highlightCurrentlyPlaying' : video.title == playerCtrl.currentVideo.title && video.url == playerCtrl.currentVideo.url }">
                        {{ ($index + 1) + " - " + video.title }}
                    </li>
                </ul>
            </div>
            <div id="player-add-video-btn">
                <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#add-video-modal">
                    <i class="fas fa-plus"></i>
                    Agregar Video
                </button>
                
                <button type="button" class="btn btn-danger" ng-click="playerCtrl.deleteChannel()">
                    Eliminar Canal
                </button>

                <button type="button" ng-click="playerCtrl.initChannelChange()" class="btn btn-secondary" data-toggle="modal" data-target="#modify-channel-modal">
                    Modificar Canal
                </button>

                <span>
                    <i class="fas fa-users"></i> {{ playerCtrl.viewersCount }}                    
                </span>
            </div>
        </div>
    </section>

    <!--Ventana Modal Modificar Canal-->
    <div class="modal fade" id="modify-channel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Modificar Canal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="changeChannel" ng-submit="playerCtrl.updateChannel()">
                        <label>Nombre: </label>
                        <input name="newName" type="text" ng-model="playerCtrl.channelCopy.name" required>
                        <span class="error" ng-show="changeChannel.newName.$touched && changeChannel.newName.$invalid">El nombre es obligatorio<br></span>
                        </br>
                        <label>Tags: </label>
                        <input type="text" ng-model="playerCtrl.channelCopy.tags">
                        </br>
                        <button type="submit" class="btn btn-secondary" data-toggle="modal" ng-show="changeChannel.$valid" data-target="#modify-channel-modal">
                            Modificar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Ventana Modal Modificar Canal-->

    <!-- Modal Agregar Video -->
    <div class="modal fade" id="add-video-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form name="playerAddVideoForm" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar video al canal:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="playerAddVideoForm_videoName">Nombre del nuevo video</label>
                        <input type="text" class="form-control" name="newVideoName" id="playerAddVideoForm_videoName" ng-model="playerCtrl.newVideo.title" placeholder="Ingrese el nombre que desea darle al video" required>
                        <!-- <div class="invalid-feedback">
                            Debe cargar un nombre para el nuevo video
                        </div> -->
                    </div>
                    <div class="form-group">
                        <label for="playerAddVideoForm_videoUrl">URL del video</label>
                        <input type="text" class="form-control" name="newVideoUrl" id="playerAddVideoForm_videoUrl" ng-model="playerCtrl.newVideo.url" placeholder="https://www.youtube.com/watch?v=axkOqrLtDXo | https://youtu.be/axkOqrLtDXo" ng-pattern="playerCtrl.urlRegex" required>
                        <!-- <div class="invalid-feedback">
                            Debe cargar la URL correspondiente al nuevo video
                        </div> -->
                    </div>
                    <!--
                    <div class="form-group">
                        <label for="playerAddVideoForm_videoThumbnailUrl">URL de imagen previa (thumbnail)</label>
                        <input type="text" class="form-control" name="newVideoThumbnailUrl" id="playerAddVideoForm_videoThumbnailUrl" ng-model="playerCtrl.newVideo.thumbnailUrl" placeholder="(Opcional) Ingrese una URL de una imagen miniatura del video" ng-pattern="playerCtrl.urlRegex">
                    </div>
                    -->
                </div>
                <div class="modal-footer">
                    <i ng-if="playerCtrl.sendingNewVideo" class="fas fa-circle-notch fa-spin fa-2x"></i>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="playerCtrl.saveVideo()" ng-disabled="playerCtrl.sendingNewVideo || playerAddVideoForm.$invalid">Guardar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Toast guardado video exitoso -->
    <div class="alert alert-success hide" role="alert" id="player-video-successfully-saved-toast" style="display: none">
        Video guardado exitosamente!
    </div>
</div>