<div id="home-container" style="padding-top: 50px">

    <main role="main" class="container">
        <div class="starter-template">

            <div class="container">
                <div class="row">
                    <div class="col" style=" text-align:left">
                        <img src="https://i.ytimg.com/vi/ZcThrAU9yLk/maxresdefault.jpg" alt="Jazz Night" width="210">
                        <!--<h6>Night of Smooth Jazz</h6>-->
                        <a style="color: black;" id="video-title" class="yt-simple-endpoint style-scope ytd-grid-video-renderer" aria-label="🔴 Night of Smooth Jazz - Music Radio 24/7 Live Stream - Relaxing JAZZ for Work, Study, Sleep de Relax Music Hace 4 semanas 387.089 visualizaciones"
                            href="https://www.youtube.com/watch?v=NsB2eya4nFA" title="🔴 Night of Smooth Jazz - Music Radio 24/7 Live Stream - Relaxing JAZZ for Work, Study, Sleep">Night
                            of Smooth Jazz - Music Radio 24/7</a>
                    </div>
                    <div class="col" style=" text-align:left">
                        <img src="https://i.ytimg.com/vi/Fjqs-qmkNug/maxresdefault.jpg" alt="Electro Swing" width="210">
                        <a style="color: black;" id="video-title" class="yt-simple-endpoint style-scope ytd-grid-video-renderer" aria-label="Besst of Electro Swing Mix"
                            href="https://www.youtube.com/watch?v=Fjqs-qmkNug&t=0s&list=PLQv5QzsFCZeHqB2Hw8f8SHqSDAZCc2Vvn&index=22"
                            title="Besst of Electro Swing Mix">Electro Swing Mix</a>
                    </div>
                    <div class="col" style=" text-align:left">
                        <img src="https://i.ytimg.com/vi/ZcThrAU9yLk/maxresdefault.jpg" alt="Jazz Night" width="210">
                        <!--<h6>Night of Smooth Jazz</h6>-->
                        <a style="color: black;" id="video-title" class="yt-simple-endpoint style-scope ytd-grid-video-renderer" aria-label="🔴 Night of Smooth Jazz - Music Radio 24/7 Live Stream - Relaxing JAZZ for Work, Study, Sleep de Relax Music Hace 4 semanas 387.089 visualizaciones"
                            href="https://www.youtube.com/watch?v=NsB2eya4nFA" title="🔴 Night of Smooth Jazz - Music Radio 24/7 Live Stream - Relaxing JAZZ for Work, Study, Sleep">Night
                            of Smooth Jazz - Music Radio 24/7</a>
                    </div>
                    <div class="col" style=" text-align:left">
                        <img src="https://i.ytimg.com/vi/Fjqs-qmkNug/maxresdefault.jpg" alt="Electro Swing" width="210">
                        <a style="color: black;" id="video-title" class="yt-simple-endpoint style-scope ytd-grid-video-renderer" aria-label="Besst of Electro Swing Mix"
                            href="https://www.youtube.com/watch?v=Fjqs-qmkNug&t=0s&list=PLQv5QzsFCZeHqB2Hw8f8SHqSDAZCc2Vvn&index=22"
                            title="Besst of Electro Swing Mix">Electro Swing Mix</a>
                    </div>
                </div>
            </div>

        </div>
    </main>

</div>